<div class="group flex justify-between items-center gap-4 py-4  hover:bg-primary/[0.02] transition-colors duration-300">
 
    <!-- Nombre del Producto -->
    <h3 class="text-lg md:text-xl font-bungee text-secondary group-hover:text-primary transition-colors flex-1 min-w-0 truncate">
      {{ product().name }}
    </h3>
    <!-- Precio -->
    <p class="text-xl font-bungee text-secondary">
      {{ product().price | precio }}
    </p>


    <button class="flex items-center gap-2 px-2 py-2 bg-secondary text-primary rounded-full text-[10px] font-black uppercase tracking-widest hover:bg-primary hover:text-white transition-all transform hover:scale-105 active:scale-95 shadow-md">
           <lucide-icon [img]="plus" class="w-4 h-4 text-primary shadow-marine"></lucide-icon>
    </button>

</div>
